* {
  margin: 0;
  padding: 0;
  list-style: none; }

html, body {
  background: #fff; }

.mui-content {
  background: #fff; }

.header-nav {
  height: 120px;
  background: #ffe544; }

.header-nav {
  position: relative; }
  .header-nav .header-list {
    margin-top: 5px; }
    .header-nav .header-list ul {
      position: absolute;
      top: 5px;
      right: 10px; }
      .header-nav .header-list ul li {
        display: inline-block;
        margin-left: 3px;
        border: solid 1px #333;
        border-radius: 10px;
        padding: 3px 5px; }

.money {
  font-size: 40px;
  font-weight: bold;
  margin-top: 23px;
  margin-bottom: 15px; }
  .money span {
    font-size: 14px; }

.aside-bg {
  background: #fff; }

.aside-nav {
  margin-top: 20px;
  margin-left: 5px;
  font-size: 18px;
  color: #333; }
  .aside-nav p {
    font-size: 20px;
    color: #333; }
  .aside-nav li {
    display: inline-block;
    padding: 3px 5px;
    font-size: 14px;
    border: solid #b3b1b2 1px;
    color: #b3b1b2;
    border-radius: 10px; }

.aside-nav {
  margin-top: 20px;
  font-size: 18px;
  color: #333; }
  .aside-nav li {
    display: inline-block;
    padding: 3px 5px;
    font-size: 14px;
    border: solid #b3b1b2 1px;
    color: #b3b1b2;
    border-radius: 10px; }

.aside-two {
  margin: 50px 0 0 0; }

.mui-icon-list {
  padding: 6px; }

.mui-badge-nav {
  position: relative;
  z-index: 3;
  padding: 8px 5px 3px 0;
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-bottom: 1px solid #c8c7cc; }

.nav-tab {
  display: flex; }
  .nav-tab li {
    border: 1px solid #666;
    height: 30px;
    line-height: 30px;
    padding: 0 3px;
    border-radius: 10px; }
    .nav-tab li.active {
      background: #ffe544; }

.scetion-scroll {
  padding-top: 120px !important; }

.scroll-bottom {
  margin-bottom: 100px; }

.none {
  display: none; }

.bill-item {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .bill-item dl {
    display: flex;
    align-items: center; }
    .bill-item dl dt {
      background: yellow;
      border-radius: 50%;
      font-size: 12px;
      padding: 4px;
      margin-right: 10px; }

.go-add {
  background: yellow;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  padding: 14px;
  display: block;
  text-align: center;
  border-radius: 50%; }
  .go-add.mui-icon {
    font-size: 40px; }

.red {
  color: red; }

.green {
  color: green; }
